{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for reservation in reservations %}
        <reservation>
            <h2><a class="reservationTitle" href="{{ path('reservation', { 'id': reservation.id }) }}">{{ reservation.date }}</a></h2>

        </reservation>
    {% endfor %}
{% endblock %}